@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pinyon+Script&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.contact-page {
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; 
    padding: 0px;
}

.contact-content {
    text-align: center;
}

.contact-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px; 
}

.span {
    color: #000;
    font-weight: normal;
}

.contact-content h1 {
    font-size: 14px;
    color: #000000;
    margin-bottom: 20px;
}

.contact-links a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.6rem;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}

.contact-links a:hover {
    letter-spacing: 0.05em;
    color: #000;
}

.local-time {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.6rem;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    /* font-variant-numeric: tabular-nums;  */
    width: 220px; 
}


@media (max-width: 768px) {
    .contact-links {
        flex-direction: column; 
        gap: 10px;
    }

    .span {
        display: none; 
    }
}
