@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pinyon+Script&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.description {
    position: absolute;
    bottom: 80px;
    right: 20px;
    width: 60vw;
    color: #cc0000;
    text-align: right;
    z-index: 2;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-style: normal;   
    font-size: 15px; 
    color: #cc0000;
  }
  