@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pinyon+Script&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.description {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 60vw;
    font-family: "Work Sans", sans-serif;
    font-style: normal; 
    font-size: .8rem;
    color: #000;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-align: right;
    pointer-events: none;
  }
  