@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pinyon+Script&family=Quicksand:wght@300..700&display=swap');

.a, h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    font-weight: normal;
}

.back-arrow {
    position: absolute;
    top: 65px;
    left: 30px;
    font-size: 20px;
    color: #cc0000;
    text-decoration: none;
    font-weight: normal;
  }
  
  .back-arrow:hover {
    opacity: 0.8;
  }
  