.header {
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    z-index: 100;
    background: transparent;
    box-sizing: border-box;
  }

  .logo {
    width: 200px;
    height: auto;
  }

  .logo-link {
    text-decoration: none;
    color: inherit;
  }

  .h2 {
    font-family: "Work Sans", sans-serif;
    font-style: normal; 
    font-size: .8rem;
    color: #000;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 0;
  }

  .h2:hover {
    letter-spacing: 0.07em;
    font-weight: 500;
  }

  .logo img {
    width: 100%;
    height: auto;
  }
  
  .plus-btn {
    text-decoration: none;
    font-size: 12px;
    color: #000000;
    font-weight: normal;
    display: none;
  }
  