.intro-logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  z-index: 10;
  color: #000;
}
.intro-animation {
  position: fixed;
  inset: 0;
  background: #fff;
  z-index: 9999;
}

.intro-stage {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 240px;
  height: 340px;
  transform: translate(-50%, -50%);
}

.flash-frame {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 5;
}

.stack-card {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
