.intro-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spata-text {
  font-family: 'Inter', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 8vw;
  font-weight: 500;
  letter-spacing: 0;
  display: flex;
  width: 90vw;
  justify-content: space-between;
  text-transform: uppercase;
  color: var(--text-color);
}

.spata-text span {
  display: inline-block;
}