@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Pinyon+Script&family=Quicksand:wght@300..700&display=swap');

.projects-page {
    background-color: white;
    width: 100vw;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
    padding-top: 80px;
}

.top-links {
    position: absolute;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.external-links {
    position: absolute;
    top: 40px;
    left: 40px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.external-links a {
    font-family: "Outfit", serif;
    font-weight: 400;
    font-size: 15px;
    color: #cc0000;
    text-decoration: none;
}

.external-links a:hover {
    text-decoration: underline;
}

.external-links span {
    color: #cc0000;
    font-weight: bold;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22%, 1fr)); 
    gap: 15px; 
    padding: 40px 20px;
    width: 90%; 
    max-width: 1200px;
    justify-content: center;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project-card img {
    width: 100%;
    max-width: 250px; 
    height: 300px;
    object-fit: cover;
    object-position: top;
    border: solid 1px #cc0000;
    border-radius: 0px;
    background-color: #f0f0f0;
    cursor: pointer;
}

/* .project-card img:hover {
    transform: scale(1.02);
  } */

.project-card p {
    font-family: "Outfit", serif;
    font-weight: 400;
    font-size: 13px;
    color: black;
    margin-top: 5px;
}

@media (max-width: 1024px) {
    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr)); 
    }
}

@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(45%, 1fr)); 
    }
}

@media (max-width: 480px) {
    .projects-grid {
        grid-template-columns: repeat(1, 1fr); 
    }

    .project-card img {
        max-width: 90%; 
        height: auto;
        object-fit: contain;
    }

    .projects-title {
        font-size: 18px;
        margin: 30px 0 15px;
    }
}
